# Time Verification

## Enumeration
Type | Description
--- | ---
**Estimated (-est)** | Specific times/dates when work will or is occurring; includes advanced notice of<br>activities or unverified work zone activities. This date/time may be reported in<br>advance, but is not actively verified on day of event.
**Verified (-ver)** | Actual reported times/dates when work occurs.

## Used By
The **Time Verification** enumeration is used by the following fields

Field Name | Data Table
--- | ---
start_date_accuracy | [road_events](/feed-content/data-tables/road_events.md)
end_date_accuracy | [road_events](/feed-content/data-tables/road_events.md)